@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  width: 100%;
  min-height: 100vh;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;

  &::-webkit-scrollbar {
    display: none;
  }
}
.stopWatch-Container {
  min-height: 100%;
  color: #fff;
  margin: 0 auto;

  & h1 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 6rem;
    font-size: 4.5rem;
    letter-spacing: 6px;
  }
}

.stopWatch {
  width: 30.2rem;
  height: 30.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  gap: 1rem;
  margin: 2rem auto;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.596) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.61) 0px 30px 60px -30px,
    rgba(12, 12, 12, 0.664) 0px -2px 6px 0px inset;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 12px solid #ffffff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 5rem;
    rotate: 24deg;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    background: #ffffff;
    top: 50px;
    left: -20px;
  }

  & .mins {
    font-size: 3.8rem;
  }
  & .sec {
    font-size: 3.2rem;
  }
  & .msec {
    font-size: 2.9rem;
  }
}

.btn-container {
  display: flex;
  gap: 3rem;
  margin: 4rem auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  width: 9rem;
  height: 9rem;
  font-size: 1.8rem;
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #ffff;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(12, 12, 12, 0.35) 0px -2px 6px 0px inset;
  font-family: "roboto", system-ui;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.856) 0px 30px 60px -20px,
      rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
    scale: 1.08;
  }
  &:active {
    background: #000000dd;
    scale: 0.8;
  }
}
.hidden {
  display: none;
}
.laps-container {
  height: 20rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;

  &::-webkit-scrollbar {
    display: none;
  }

  & p {
    font-size: 3rem;
  }
  & .time {
    margin-left: 3rem;
  }
}
.bttn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 10rem;
  height: 10rem;
  padding: 2%;
}
.Clearhidden {
  display: none;
}
@media screen and (width < 500px) {
  html {
    font-size: 55%;
  }
  .stopWatch {
    &::before {
      content: "";
      rotate: 21deg;
      left: -23px;
    }
  }
}
@media screen and (width < 380px) {
  html {
    font-size: 47%;
  }
}
